:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Rubik', sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

/* BOX MODEL: Modelo de caixa
Toda caixa tem largura, altura, espaçamentos, preenchimentos,
bordas, cor, fundo, maneira que é vista pelo html (display),
posicionamentos, alinhamentos
*/

#page-home {
  height: 100vh; /* Pra que a imagem possa pegar toda a altura da página */
  background: url("../assets/home-background.svg") no-repeat;
  background-position: 35vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page-home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#page-home header a {
  display: flex;
  color: var(--title-color);
  font-weight: 600;
  align-items: center;
}

#page-home header a span {
  background: url("../assets/log-in.svg") no-repeat;
  margin-right: 8px;
  width: 20px;
  height: 20px;

}

#page-home main {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

#page-home main h1 {
  font-size: 3.375rem;
}

#page-home main p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.375rem;
  margin-top: 24px;
}

#page-home main a {
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  height: 72px;
  background-color: var(--primary-color);
  margin-top: 40px;
  display: flex;
  align-items: center;
  transition: 400ms;
  color: #fff;
}

#page-home main a:hover {
  background-color: #2fb86e;
}

#page-home main a span {
  width: 72px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.08);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home main a span::after {
  content: "";
  background: url("../assets/search.svg");
  width: 20px;
  height: 20px;
}

#page-home main a strong {
  color: #fff;
  flex: 1;
  text-align: center;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }
}
